<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AutomationTestSuite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="UI Tests">
        <classes>
            <class name="zm.co.gsb.tests.ui.sportsbook.EventsTests"/>
            <class name="zm.co.gsb.tests.ui.sportsbook.LoginTest"/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="zm.co.gsb.tests.api.bet.placebetsport.PromoCodeTest"/>
        </classes>
    </test>
</suite>
